<table class="table table-striped">
    <thead>
        <tr>
            <th *ngFor="let header of headers">{{ header }}</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let order of collection">
            <td>{{ order.tjmHt }}</td>
            <td>{{ order.nbJours }}</td>
            <td>{{ order.tva }}</td>
            <td>{{ order.typePresta }}</td>
            <td>{{ order.client }}</td>
            <td>{{ order.state }}</td>
        </tr>
    </tbody>
</table>

<!-- tjmHt = 400;
    nbJours = 1;
    tva = 20;
    state =  StateOrder.OPTION;
    typePresta!: string;
    client!: string; -->
