<!-- <app-template-full-width [title]="'Liste des commandes'"></app-template-full-width> -->
<app-template-full-width [title]="monTitre" *ngIf="collection$ | async as parentCollection">
    <app-table-light
        [headers]="parentHeaders">
        <tr *ngFor="let order of parentCollection">
            <td>{{ order.tjmHt | currency }}</td>
            <td>{{ order.nbJours }}</td>
            <td>{{ order.tva }}</td>
            <!-- <td>{{ calculTotalHt(order) }}</td>
            <td>{{ calculTotalTtc(order) }}</td> -->
            <td>{{ order | total : false | currency }}</td> <!-- prix HT-->
            <td>{{ order | total : true | currency }}</td> <!-- prix TTC-->
            <td>{{ order.typePresta }}</td>
            <td>{{ order.client }}</td>
            <!-- <td>{{ order.state }}</td> -->
            <!-- <td [ngClass]="{
                'state-canceled': order.state === 'CANCELED',
                'state-option': order.state === 'OPTION',
                'state-confirmed': order.state === 'CONFIRMED'}"> -->
            <td [appState]="order.state">
                <select (change)="onChangeState(order, $event)">
                    <option value="null" disabled selected>Choisir un état</option>
                    <option 
                        *ngFor="let state of listStateOrder | keyvalue"
                        [value]="state.key"
                        [selected]="state.value === order.state">
                        {{ state.value }}
                    </option>
                </select>
            </td>
        </tr>
    </app-table-light>
    <app-btn></app-btn>
    <p> {{ testSubject$ | async }}</p>
    <h1 *ngIf="testSubject$ | async as testText">{{ testText }}</h1>
</app-template-full-width>
<!-- <button (click)="changeTitle()">ChangeTitle</button> -->
