<app-template-full-width [title]="monTitre" *ngIf="collection$ | async as parentCollection">
    <app-table-light
        [headers]="parentHeaders">
        <tr *ngFor="let order of parentCollection">
            <td>{{ order.tjmHt | currency }}</td>
            <td>{{ order.nbJours }}</td>
            <td>{{ order.tva }}</td>
            <td>{{ order | total : false | currency }}</td> <!-- prix HT-->
            <td>{{ order | total : true | currency }}</td> <!-- prix TTC-->
            <td>{{ order.typePresta }}</td>
            <td>{{ order.client }}</td>
            <td [appState]="order.state">
                <select (change)="onChangeState(order, $event)">
                    <option value="null" disabled selected>Choisir un état</option>
                    <option 
                        *ngFor="let state of listStateOrder | keyvalue"
                        [value]="state.key"
                        [selected]="state.value === order.state">
                        {{ state.value }}
                    </option>
                </select>
            </td>
        </tr>
    </app-table-light>
    <!-- <app-btn 
        [label]="'Ajouter une commande'" 
        [route]="'add'">
    </app-btn>     -->
    <!-- OU -->
    <app-btn 
        label="Ajouter une commande" 
        route="add">
    </app-btn> 
</app-template-full-width>

